* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: tan;
    font-family: "Courier New", Courier, monospace;
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: tan;
    overflow: hidden;
}

.controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.vessel {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.explode-animation {
    width: 290px;
    height: 290px;
    background-image: url("./../public/graphics/explosion1.png");
    background-repeat: no-repeat;

    /* Apply the animation */
    animation: play-frames 1s steps(11) 1 forwards;
}

@keyframes play-frames {
    from {
        background-position: 0px 0px;
    }
    to {
        /* Shift the background left by the entire width of the image */
        background-position: -3190px 0px;
    }
}
